---
import Layout from "../Layout/Layout.astro";
import "../styles/styles.css"
import 'animate.css';

---
<Layout>
    <section class=" animate__animated animate__bounceInUp container mx-auto
     flex h-screen items-center ">
        <div class="flex flex-row justify-center md: flex, flex-col,">
            <img class="w-80 h-80" src="../../public/sec.png">
            <div class="my-auto pl-20 md:items-center">
                <h1 class="text-5xl ">About</h1>
        <p class="pt-5 text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni inventore id
             beatae minus quis, distinctio neque sed quasi cupiditate quo sint. Esse quo
              id quas laudantium, rem ipsa consequuntur optio.</p>
              <button class="mt-10 text-2xl border-2 border-white w-52 h-10 hover:bg-slate-300 
              rounded-xl hover:text-cyan-500">Read More</button>
            </div>
        </div>
       
    </section>
</Layout>