---
import Layout from "../Layout/Layout.astro";
import "../styles/styles.css"
import Nav from "../components/nav.astro";
import Main from "../components/main.astro";
import Details from "../components/details.astro"

---
<Layout>
	<Nav/>
	<Main/>
	<Details/>
	<h1>Hello Astro</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, facere?</p>
</Layout>
