---
import "../styles/styles.css"

---
<h1>Why NestRed?</h1>
<div class="container mx-auto">
    <section class="grid grid-cols-3 gap-10">
        <div>
            <img src="/sec.png">
          <h2 class="text-2xl font-bold">it is safe</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita, vero.</p>
        </div>
        <div>
            <img src="/pexels-photo-4049794.png">
            <h2>Connect with the world</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita, vero.</p>
          </div>
          <div>
            <img src="/social.png">
            <h2>Earn Money</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita, vero.</p>
          </div>
    </section>
</div>

