---
import "../styles/styles.css"
import 'animate.css';
---

<main class="container mt-20 animate__animated animate__bounceInUp">
    <div class="flex justify-center flex-row-reverse">
        <img class="w-80 h-60" src="/girl.png" alt="girl.png">
        <div class="flex flex-col justify-center pr-20">
            <h1 class="text-5xl pb-5">Welcome To NestRed</h1>
            <p class="text-2xl pb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, recusandae.</p>
            <button class=" text-2xl border-2 border-white w-52 h-10 hover:bg-slate-300 
            rounded-xl hover:text-cyan-500 pb-2" >Start Now</button>
        </div>
    </div>
   
</main>