---
import "../styles/styles.css"
---

<nav class="container flex  mx-auto justify-between mt-2">
   
    <div class="w-30 h-20">
        <img class="w-30 h-20" src="/NESTr.png">
    </div>
  <div class="flex flex-row ">
    <ul class="flex flex-row items-center ">
        <li><a class="hover:text-cyan-100" href="register">SignUp</a></li>
        <li><a class="hover:text-cyan-100 pl-10" href="login">Login</a></li>
    </ul>
  </div>
   
</nav>